[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/trompeloeil"]
	path = extern/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "extern/ZipIterator"]
	path = extern/ZipIterator
	url = https://github.com/dpellegr/ZipIterator.git
[submodule "extern/Root-Finder"]
	path = extern/Root-Finder
	url = https://github.com/PKua007/Root-Finder.git
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/quickhull"]
	path = extern/quickhull
	url = https://github.com/PKua007/quickhull.git
